#dugme{
    -fx-background-color: #94A19B;
}

.groupBox {
    -fx-border-color: lightBlue;
    -fx-border-width: 2;
    -fx-border-radius: 2px;
}

.poljeIspravno {
    -fx-control-inner-background: greenyellow;
}

.poljeNijeIspravno {
    -fx-control-inner-background: light red;
}

.poljeIsprazni {
    -fx-control-inner-background: #ffffff;
}